body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 10px 0;
	font-weight:bold;
}

header .row,
footer .row {
	font-weight:bold;
}

header h1 {
  font-weight: 400;
	font-weight:bold;
	font-size: 30px;
  margin: 0;
}

header nav {
	display: -webkit-inline-box;
	font-weight:bold;
}

header p {
  padding: 10px;
	color: #ffbb00c5;
	font-weight:bold;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: flex-start;
  background-image: url('#');
  background-size: cover;
  color: #000000;
  height: 300px;
  text-shadow: 1px 1px 1px #ffffff;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 10px;
  color: #000000;
	text-shadow: 1px 1px 1px #ffffff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #000000;
	text-shadow: 1px 1px 1px #ffffff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 0px;
	width:100px;
	height:35px;
  border: 0px;
  color: #000000;
  text-shadow: none;
  background-color: #ffbb00c5;
}

.btn.btn-primary:hover {
  color: #000000;
  background-color: #d69d00c5;
}

.btn-secondary {
  background-color: #ffbb00c5;
  color: #000000;
  margin: 0 0 0px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}